* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

.cell {
  background-color: white;
}

.main {
  align-items: stretch;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.gameboard {
  display: flex;
  flex-direction: column;
  flex-grow: 2
  justify-content: space-evenly;
}


.gameboard__grid-container {
  background-color: #000000;
  color: black;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

img.small {
  width: 75px;
}

.sidebar {
  background-image: URL("assets/background_image.png");
  background-position: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 25px;
}
