* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  align-items: stretch;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.sidebar {
  align-items: baseline;
  background-image: URL("assets/background_image.png");
  background-position: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 25px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-evenly;
  max-width: 600px;
}

.gameboard__grid-container {
  background-image: linear-gradient(#43BDBB, #2B0D44);
  color: black;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 165px 165px 165px;
}

.cell {
  align-items: center;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  padding: 0px 50px 50px 50px;
}

img.small {
  width: 75px;
}

img.medium {
  width: 110px;
}

img.large {
  width: 125px;
}

.hidden {
  display: none;
}
